body {
    width: 100%;
    margin: 0 auto;
    font-family: "Poiret One", serif;
    color: #414141;
}

/*-------------------------HEADER--------------------*/
header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
}

    /* LOGO */

header .th_logo {
    width: 350px;
    float: left;
}

.th_logo h1 {
    font-family: 'Questrial', sans-serif ;
    font-size: 25px;
    letter-spacing: .1em;
    color: black;
    margin-left: 20px
}

.th_logo a {
    text-decoration: none;
    color: black;
}

.th_logo h1 a:hover {
    color: #4484CE;
}
/*-------------------------NAV--------------------*/


header .navbar nav a {
    color: black;
    text-decoration: none;
    position: relative;
    right: 20px;
    margin-right: 20px;
    top: 3px;
}

header .navbar nav a:hover {
    color: #4484CE;
}

header .navbar nav ul {
    text-align: right;
}

header .navbar li {
    display: inline;
    list-style-type: none;
    font-size: 20px;
    padding-left: 15px;
}

#menu-button {
    position: absolute;
    right: 30px;
    top: 30px;
}

/*---------------------------BODY----------------------*/

.clear {
    clear: both;
}

.portfolio1, .portfolio2, .portfolio3 {
    width: 100%;
    height: 350px;
}

.portfolio4, .portfolio5, .portfolio6 {
    width: 100%;
    height: 350px;
}

.portfolio1 img, .portfolio2 img, .portfolio3 img, .portfolio4 img, .portfolio5 img, .portfolio6 img {
    width: 100%;
    height: 100%;
}

.project {
    margin-top: 75px;
    margin-bottom: 50px;
}

/*----------------------INDEX--------------------------*/

.underline {
    text-decoration: underline;
}

/*----------------------LOYAL--------------------------*/
#loyal-homepage img {
    width: 100%;
    padding-top: 20px;
}

.loyal a {
    text-decoration: none;
    color: black;

}
.loyal a:hover {
    color: #4484CE;
}
.loyal h2, h3 {
    font-family: 'Lato', serif;
    text-align: center;
}

p {
    font-family: 'Raleway', serif;
    font-size: 1em;
    text-align: center;
    line-height: 30px;
    padding: 15px;
}
#loyal-logo-img, #loyal-services, #loyal-contact {
    padding: 30px 0px 30px 0px;
}
#loyal-logo-img {
    width: 100%;
}
a.hyperlink {
    color: #4484CE;
}

/* -------------------JL------------------------------------*/
.content {
    width: 100%;
}
.jl img {
    width: 100%;
    padding-top: 20px;
}

#jl-img-1, #jl-img2, #jl-img3, #jl-img4, #jl-img5, #jl-img6, #jl-img7, #jl-img8, #jl-img9 {
    padding: 30px 0px;

}

/*----------------------AUSTIN------------------------------ */

.austin img {
    width: 100%;
    padding-top: 20px;
}

#austin_img1, #austin_img2, #austin_img3 {
    padding: 30px 0px;
}

/*----------------------ACCELERATE-------------------------- */

.accelerate img {
    width: 100%;
    padding-top: 20px;
}

#accelerate_img1, #accelerate_img2, #accelerate_img3, #accelerate_img4, #accelerate_img5, #accelerate_img6 {
    padding: 30px 0px;
}

/* -------------------GEMINI------------------------------*/

.gemini img {
    width: 100%;
    padding-top: 20px;
}
#gemini_img1, #gemini_img2, #gemini_img3, #gemini_img4, #gemini_img5, #gemini_img6  {
    padding: 30px 0px;
}

/* -------------------TURTLES------------------------------*/

.turtles img {
    width: 100%;
    padding-top: 20px;
}
#turtles_img1, #turtles_img2, #turtles_img3 {
    padding: 30px 0px;
}

/* -------------------ABOUT------------------------------*/

.about-information {
    width: 50%;
    float: left;
    margin-top: 20px;
    text-align: center;
}
.about-information p {
    margin: 65px;
    line-height: 1.3em;
    padding: 10px;
    margin-bottom: 20px;
}
.my-image {
    width: 50%;
    float: right;
    margin-top: 40px;
    padding-top: 40px;
}
.my-image img {
    width: 65%;
}

.about-information a {
    color: #E9967A;
    text-decoration: none;
;

}

/* ------------------FOOTER---------------------------------*/
footer {
    clear: both;
}

/* Logo in the footer */
footer .th_logo {
    text-align: center;
    padding-top: 50px;
}

footer .th_logo h1 {
    font-size: 1.5em;
}

/* List skillset */
.skills h3 {
    font-family: "Poiret One", serif;
    text-align: center;
    padding-bottom: 40px;
    color: black;
}

/*--------------- Bottom navigation to pages----------*/

footer .bottom-nav {
    margin: auto;
    top: 50%;
    left: 50%;
    width: 400px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

footer .bottom-nav a {
    text-decoration: none;
    color: black;
}
.bottom-nav a:hover {
    color: #4484CE;
}

footer .bottom-nav ul {
    text-align: center;
    margin: 40px;
    text-decoration: none;
}

footer .bottom-nav ul li {
    display: inline;
    list-style-type: none;
    font-family: "Poiret One";
    font-size: 20px;
    padding-right: 25px;
}

/*-----------Social media links--------------------*/

footer .social {
    margin:auto;
    top: 50%;
    left: 50%;
    width: 400px;
}

footer .social a {
    text-decoration: none;
    color: black;
}

footer .social a:hover {
    color: #4484CE;a
}

footer .social ul {
    text-align: justify;
    margin: 40px;
}

footer .social ul li {
    display: inline;
    list-style-type: none;
    font-size: 30px;
    padding-right: 35px;

}
.fa-linkedin:before {
    margin-left: -30px;
}

.social .fa-linkedin:before {
    margin-left: 45px;
}

/* ------------------MEDIA QUERIES--------------------------*/


/* PORTFOLIO SQUARES */
@media only screen and (min-width: 600px){
    .portfolio1, .portfolio2 {
        width: 50%;
        height: 350px;
        float: left;
        background-color: #D48CF8;
    }
    .portfolio3, .portfolio4 {
        width: 50%;
        height: 350px;
        float: left;
        background-color: #D48CF8;
    }
    .portfolio5, .portfolio6 {
        width: 50%;
        height: 350px;
        float: left;
        background-color: #D48CF8;
    }

}

@media only screen and (min-width: 825px) {
     #menu-button {
        display: none;
    }
}

@media only screen and (max-width: 825px){
    nav ul {
        display: none;
        clear: both;
    }
    nav ul li a{
        display: block;
        width: 100%;
        text-align: center;
    }
    .navbar li {
        padding-left: 0px;
    }
    #menu-button {
        display: block;
    }
    .about-information {
        float: none;
        width: 100%;
    }
    .my-image {
        float: none;

    }
}

@media only screen and (min-width: 1090px){
    .portfolio1, .portfolio2, .portfolio3 {
        width: 33.3%;
        height: 350px;
        float: left;
        background-color: #D48CF8;
    }
    .portfolio4, .portfolio5, .portfolio6 {
        width: 33.3%;
        height: 350px;
        float: left;
        background-color: #F7CE3E;
    }
    .loyal p, .jl p, .austin p, .accelerate p, .turtles p, .gemini p {
        margin: 10 100px; 
        padding: 0 100px;
    }
    
    #loyal-logo-img {
        max-width: 700px;
        margin: 0 auto;
        display: block;
    }
    
}

    
