body {
    width: 100%;
    margin: 0 auto;
    font-family: "Poiret One", serif;
}

/* HEADER */
header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
}

    /* LOGO */

header .logo {
    width: 350px;
    float: left;
    height: 70px;
}
.logo h1 {
    font-family: 'Lato', serif;
    font-size: 25px;
    color: black;
}

.logo h1 a {
    text-decoration: none;
    color: black;
}

.logo h1 a:hover {
    color: #4484CE;
}
    /* NAV */


header .navbar nav a {
    color: black;
    text-decoration: none;
    position: relative;
    right: 20px;
}

header .navbar nav a:hover {
    color: #4484CE;
}

header .navbar nav ul {
    text-align: right;
}

header .navbar li {
    display: inline;
    list-style-type: none;
    font-size: 20px;
    padding-left: 15px;
}

/* BODY */

.clear {
    clear: both;
}

.portfolio1, .portfolio2, .portfolio3 {
    width: 33.3%;
    height: 350px;
    float: left;
    background-color: #D48CF8;

}

.portfolio4, .portfolio5, .portfolio6 {
    width: 33.3%;
    height: 350px;
    float: left;
    background-color: #F7CE3E;
}

.portfolio1 img {
    width: 100%;
    height: 100%;
}

/*LOYAL */
.logo h1 {
    font-family: "Raleway";
}
.main img {
    width: 100%;
    padding-top: 40px;
}
.main a {
    text-decoration: none;
    color: black;

}
.main a:hover {
    color: #4484CE;
}
h1 {
    font-family: 'Lato', serif;
    text-align: center;
}

p {
    font-family: 'Raleway', serif;
    font-size: 1em;
    text-align: center;
    line-height: 30px;
    margin: 10 100px; 
    padding: 0 100px;
}
#loyal-logo, #loyal-services, #loyal-contact {
    padding: 30px;
}
#loyal-logo {
    display: block;
    margin: 0 auto;
    max-width: 800px;
}

/* FOOTER */
footer {
    clear: both;
}

/* Logo in the footer */
footer .logo {
    text-align: center;
    padding-top: 50px;
}

footer .logo h1 {
    font-size: 1.5em;
}

/* List skillset */
footer h3 {
    font-family: "Poiret One", serif;
    text-align: center;
    padding-bottom: 40px;
}

/* Bottom navigation to pages */

footer .bottom-nav {
    margin: auto;
    top: 50%;
    left: 50%;
    width: 400px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

footer .bottom-nav a {
    text-decoration: none;
    color: black;
}
.bottom-nav a:hover {
    color: #4484CE;
}

footer .bottom-nav ul {
    text-align: center;
    margin: 40px;
    text-decoration: none;
}

footer .bottom-nav ul li {
    display: inline;
    list-style-type: none;
    font-family: "Poiret One";
    font-size: 20px;
    padding-right: 25px;
}

/* Social media links */

footer .social {
    margin:auto;
    top: 50%;
    left: 50%;
    width: 400px;
}

footer .social a {
    text-decoration: none;
    color: black;
}

footer .social a:hover {
    color: #4484CE;
}

footer .social ul {
    text-align: center;
    margin: 40px;
}

footer .social ul li {
    display: inline;
    list-style-type: none;
    font-size: 30px;
    padding-right: 35px;

}


/* MEDIA QUERIES */

